.cart_body body{
    font-family: 'Poppins' !important;
    background-color: #F2F9FF !important;
}
.cart_body .cart_table thead{
    background-color: #EFEFEF !important;
    text-transform: capitalize;
    text-align: center !important;
} 
.cart_body .qtybtn {
    line-height: 0;
    background-color: #EFEFEF !important;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 92px;
    align-items: center !important;
}
.cart_body .whitebg{
    background-color: white ;
}

.cart_body .tr_border{
    border-bottom: 12px solid #F2F9FF !important;
}
.cart_body .table td {
    vertical-align: middle; 
}
.cart_body .cart_table p{
    margin-bottom: 0px !important;
}
@media screen and (max-width:425px) {
    .cart_body .cart_table img{
        height: 150px !important;
    }
    
}
